<div class="py-5">
      <div class="container">
          {#  поиск  #}
        <form class="row mb-5" action="" method="get">

          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">ОТ МОРЯ</option>
                <option value="1000">1000</option>
                <option value="800">800</option>
                <option value="600">600</option>
                <option value="400">400</option>
                <option value="200">200</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Статус недвижимости</option>
                <option value="For Sale">Продается</option>
                <option value="For Rent">В аренду</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Location</option>
                <option value="United States">Соединенные Штаты</option>
                <option value="United Kingdom">объединенное Королевство</option>
                <option value="Canada">Канада</option>
                <option value="Belgium">Бельгия</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">Площадь участка</option>
                <option value="1000">1000</option>
                <option value="800">800</option>
                <option value="600">600</option>
                <option value="400">400</option>
                <option value="200">200</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">спальни</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5+">5+</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
                <option value="">В ванных комнатах</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5+">5+</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <div class="mb-4">

              </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Поиск">
          </div>

        </form>
          {#  поиск  #}

          <!--текст поиск--->
{#          <div class="row">#}
{#          <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">#}
{#            <div class="feature d-flex align-items-start">#}
{#              <span class="icon mr-3 flaticon-house"></span>#}
{#              <div class="text">#}
{#                <h2 class="mt-0">Широкий спектр свойств</h2>#}
{#                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

{#          <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">#}
{#            <div class="feature d-flex align-items-start">#}
{#              <span class="icon mr-3 flaticon-rent"></span>#}
{#              <div class="text">#}
{#                <h2 class="mt-0">Аренда или продажа</h2>#}
{#                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">#}
{#            <div class="feature d-flex align-items-start">#}
{#              <span class="icon mr-3 flaticon-location"></span>#}
{#              <div class="text">#}
{#                <h2 class="mt-0">Расположение недвижимости</h2>#}
{#                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem sint debitis porro quae dolorum neque.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

      </div>
    </div>
